<h1>Alterar Cadastro</h1>
<form action="" method="POST">
    <input type="hidden" name="id" value="<%=estudante[0].id%>">
    <input type="text" name="nomecompleto" value="<%=estudante[0].nomecompleto%>" placeholder="Insira seu nome completo" required><br><br>
    <input type="email" name="email" value="<%=estudante[0].email%>" placeholder="Insira seu email" required><br><br>
    <input type="password" name="senha" value="<%=estudante[0].senha%>" placeholder="Digite sua senha" required><br><br>

    <input type="submit" value="Alterar">
</form>